*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body {
    background-color: gray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 20px;
    background-color: gray;
    color: #ffffff;
    display: block;
}

.red {
    display: flex;
    justify-content: start;
    margin: -1px;
    border-radius: 125px;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: black;
}

nav {
    background-color: orange;
    display: flex-end;
    padding: 13px;
    font-size: 20px;
}

a {
    color: black;
}

a:hover {
    color: orange;
    background-color: gray;
    transition: ease 300ms;
}

h3 {
    width: 20%;
    color: black;
    padding: 9px;
    text-align: center;
    position: relative;
    float: right;
    right: 50px;
    bottom: 150px;
    border: 3px solid black;
}

article {
    display: flex;
    text-align: start;
    padding: 20px;
}

h3,
nav,
article h1,
section h1,
footer h1 {
    background-color: orange;
    padding: 8px;
    border-radius: 11px;
}

article p {
    text-align: center;
    background-color: lightgray;
    border-radius: 11px;
    margin-left: 350px;
}

img {
    max-width: 450px;
    border: 20px 10px 10px 10px solid black;
    display: flex;
    border-radius: 11px;
    margin-left: 600px;
}

img:hover {
    transform: scale(1.1);
    transition: ease 300ms;
    background-color: 5px black;
}

section {
    padding: 20px;
    display: flex;

}

.other {
    max-width: 450px;
    display: flex;
    margin-left: 75px;
}

footer {
    padding: 20px;
    background-color: orange;
    width: 100%;
    height: 3rem;
    bottom: 0;
    position: fixed;
}

ul {
    list-style: none;
    text-align: center;
    padding: 20px;
    background-color: lightgray;
    border-radius: 11px;
    margin-left: 600PX;
    margin-right: 600PX;
}

@media screen and (max-height: 800px) {
    footer {
        height: 0%;
    }
    
}

@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 612px) {
    .card {
      width: 100%;
    }
  }
  